<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poly.admin.duanmau">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Adapter.CartAdapter"></activity>
        <activity android:name=".Adapter.HoaDonAdapter" />
        <activity android:name=".Adapter.BookAdapter" />
        <activity android:name=".Adapter.TheLoaiAdapter" />
        <activity android:name=".Adapter.NguoiDungAdapter" />
        <activity android:name=".Activity.ThongKeDoanhThuActivity" />
        <activity android:name=".Activity.LuotSachBanChayActivity" />
        <activity android:name=".Activity.ListHoaDonChiTietByIDActivity" />
        <activity android:name=".Activity.HoaDonChiTietActivity" />
        <activity android:name=".Activity.HoaDonActivity" />
        <activity android:name=".Activity.ListHoaDonActivity" />
        <activity android:name=".Activity.ListBookActivity" />
        <activity android:name=".Activity.ThemSachActivity" />
        <activity android:name=".Activity.ListTheLoaiActivity" />
        <activity android:name=".Activity.NguoiDungDetailActivity" />
        <activity android:name=".Activity.NguoiDungActivity" />
        <activity android:name=".Activity.ListNguoiDungActivity" />
        <activity android:name=".Activity.ChangePasswordActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>